{% liquid
  assign current_product = product_item
%}

<div class="pdp-essential-card">

  <a
    href="{{ current_product.url }}"
    class="pdp-essential-image"
  >

    {% if current_product.featured_image != blank %}
      {{
        current_product.featured_image
        | image_url: width: 500
        | image_tag:
          loading: 'lazy',
          widths: '120,180,250,350,500',
          alt: current_product.title
      }}
    {% endif %}

  </a>

  <div class="pdp-essential-content">

    <h4 class="pdp-essential-title">
      <a href="{{ current_product.url }}">
        {{ current_product.title }}
      </a>
    </h4>

    <div class="pdp-essential-footer">

      <span class="pdp-essential-price">
        {{ current_product.price | money }}
      </span>

      <div class="pdp-essential-atc">
        {% render 'buy-buttons',
          product: current_product,
          block: block,
          product_form_id: product_form_id,
          section_id: section.id,
          section: section
        %}
      </div>

    </div>

  </div>

</div>

{% style %}

.pdp-essential-card {
    border-radius: 12px;
    background: #F6F6F6;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
}

a.pdp-essential-image {
    display: block;
    width: 100%;
    height: 162px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
}

a.pdp-essential-image img{
    width: 100%;
    height: 100%;
    display: block;
}

h4.pdp-essential-title a,
h4.pdp-essential-title {
    color: #000;
    font-family: "Faculty Glyphic";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span.pdp-essential-price, 
span.pdp-essential-price span.money {
    color: #1A1A1A;
    font-family: "Suisse Int'l";
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
}

.pdp-essential-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-top: 8px;
}

.pdp-essential-atc .product-form__submit {
    background: transparent;
    padding: 0;
    width: fit-content;
    height: fit-content;
    border-radius: 0;
    border: none;
    overflow: visible;
}

span.pdp-essential-atc_icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.pdp-essential-atc_icon svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

{% endstyle %}