{% liquid

  assign metafield_products = product.metafields.custom.essential_products.value
  assign fallback_products = block.settings.products

  assign final_products = metafield_products

  if final_products == blank
    assign final_products = fallback_products
  endif

%}

{% if final_products != blank %}

<div class="pdp-essentials">

  <div class="pdp-essentials-head">
  <div class="pdp-essentials-head_content">
      {% if block.settings.tag_text != blank %}
          <div class="pdp-essentials-tag tag_tag">
            {% if block.settings.tag_icon != blank %}
              <div class="tag_icon">
                {{
                  block.settings.tag_icon
                  | image_url: width: 60
                  | image_tag: loading: 'lazy'
                }}
              </div>
            {% endif %}
              {{ block.settings.tag_text }}
          </div>
      {% endif %}
    
      {% if block.settings.title != blank %}
        <h3 class="pdp-essentials-title">
          {{ block.settings.title }}
        </h3>
      {% endif %}
  </div>
  {% comment %} {% if final_products.count > 3 %} {% endcomment %}
      <div class="pdp-essentials-navigation">
            <div class="swiper-button-prev essentials_swip_btn essentials-prev-{{ block.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                    <path d="M7.21117 0.940585L0.940675 7.21108L7.21117 13.4816" stroke="black" stroke-width="1.88115" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div> 
            <div class="swiper-button-next essentials_swip_btn essentials-next-{{ block.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="15" viewBox="0 0 9 15" fill="none">
                    <path d="M0.940689 0.940585L7.21118 7.21108L0.94069 13.4816" stroke="black" stroke-width="1.88115" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
      </div>
  {% comment %} {% endif %} {% endcomment %}


  </div>

  <div class="swiper pdp-essentials-swiper-{{ block.id }}">

    <div class="swiper-wrapper">

      {% for upsell_product in final_products %}

        <div class="swiper-slide">

          {% render 'essntials-product-card',
            product_item: upsell_product,
            block: block,
            section: section,
            product_form_id: 'product-form-' | append: card_unique_id
          %}

        </div>

      {% endfor %}

    </div>

  </div>

</div>

{% endif %}


<script>
(() => {

  const initEssentialsSwiper = () => {

    const slider = document.querySelector(
      '.pdp-essentials-swiper-{{ block.id }}'
    );

    if (!slider) return;

    if (slider.swiper) {
      slider.swiper.destroy(true, true);
    }

    new Swiper(slider, {

      slidesPerView: 2.2,
      spaceBetween: 5,
      speed: 1000,

      navigation: {
        nextEl: '.essentials-next-{{ block.id }}',
        prevEl: '.essentials-prev-{{ block.id }}'
      },

      breakpoints: {

        0: {
          slidesPerView: 2.2,
          spaceBetween: 5
        },

        1200: {
          slidesPerView: 3.2,
          spaceBetween: 16
        }

      }

    });

  };

  document.addEventListener('DOMContentLoaded', initEssentialsSwiper);
  document.addEventListener('shopify:section:load', initEssentialsSwiper);

})();
</script>


{% style %}

.pdp_upsell_tag.tag_tag {
    margin: 10px 0;
}

h3.pdp_upsell-title {
    color: #000;
    font-family: "Faculty Glyphic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.pdp-essentials {
    border-radius: 20px;
    background: #FFF;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 11px;
    padding-right: 0;
}

.pdp-essentials-tag.tag_tag {
    margin: 10px 0;
}

h3.pdp-essentials-title {
    color: #000;
    font-family: "Faculty Glyphic";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}


.essentials_swip_btn {
    position: static;
    margin: 0;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.essentials_swip_btn:after{
    display: none;
}

.pdp-essentials-navigation {
    display: flex;
    align-items: center;
    gap: 6px;
    max-width: fit-content;
    width: 100%;
    padding-right: 25px;
}

.pdp-essentials-head {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.pdp-essentials-swiper-{{ block.id }} .swiper-slide {
    height: auto;
    display: flex;
}

{% endstyle %}